@import url('https://fonts.googleapis.com/css?family=Poppins');
@font-face {
    font-family: 'JennaSue';
    src: url('../fonts/JennaSue.woff');

    /* src: local('JennaSue'), local('JennaSue'), url('../../fonts/JennaSue.woff') format('WOFF'); */
}

* {
    font-family: "Poppins";
}

a {
    text-decoration: none!important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    color: #515964;
}

#wrap {
    min-height: 100%;
    /*  height: 100%; */
    margin: 0 auto -50px;
    padding: 0 0 50px;
}

footer {
    position: relative;
    width: 100%;
    background: #1f2533;
    color: #969696;
    padding: 10px 0;
}

.ci-navbar-fixed-top {
    position: fixed;
    padding-top: 24px;
    z-index: 9700;
    width: 100%;
    top: 0;
    left: 0;
}

.ci-navbar-inner {
    position: relative;
    width: 100%;
    /* min-height: 96px; */
    padding: 21px;
    background-color: #fff;
    -webkit-box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.15);
}

.site-logo {
    position: relative;
    z-index: 5;
    display: inline-block;
    width: 21%;
    text-decoration: none;
    padding: 0;
}

.site-logo img {
    width: 100%;
}

.menu {
    margin-right: 0;
}

.menu>li>a {
    padding: 12px 15px;
    color: #453f84;
}

.menu>li.active>a {
    background: #453f84;
    color: #fff
}

.intro-section {
    position: relative;
    width: 100%;
    /* padding-top: 216px; */
    background-image: url("../images/intro-bg01.jpg");
    background-position: 50% 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.intro-section .overlay {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #453f84;
    background: -moz-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #453f84), color-stop(100%, #3a2d46));
    background: -webkit-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: -o-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: -ms-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: linear-gradient(to bottom, #453f84 0%, #3a2d46 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0);
}

.intro-section .overlay {
    background: #453f84;
    background: -moz-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #453f84), color-stop(100%, #3a2d46));
    background: -webkit-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: -o-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: -ms-linear-gradient(top, #453f84 0%, #3a2d46 100%);
    background: linear-gradient(to bottom, #453f84 0%, #3a2d46 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0);
    opacity: .85;
}



.tp-caption {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 40px;
    transition: none 0s ease 0s;
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
    z-index: 2;
    margin: 0 auto
}

.tp-caption-heading {
    font-weight: 100;
    font-size: 70px;
    text-transform: uppercase;
}

.tp-support-text {
    width: 60%;
    line-height: 1.8;
    text-align: center;
}

.tp-btn {
    margin-top: 25px;
}

.bttn {
    border: medium none;
    display: inline-block;
    padding: 0.8em 3em;
    padding-right: 3em;
    padding-left: 3em;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 2px;
}

.bttn.icon-bttn {
    overflow: hidden;
    padding-right: 55px;
    padding-left: 1.8em;
    position: relative;
    z-index: 1;
    border: 1px solid #ffffff;
    border-radius: 50px;
}


.bttn.icon-bttn span {
    color: #453f84;
    height: 100%;
    line-height: 3.4;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0;
    width: 40px;
    background: #fff;
}

.bttn.icon-bttn:hover {
    background: #453f84;
    color: #fff;
}

.new-section {
    padding: 160px 0;
    margin: 40px;
}

.section-box {
    position: relative;
    -webkit-box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    padding-top: 40px;
}

.section-box .section-heading {
    display: flex;
    justify-content: center;
}

.section-box .section-heading .section-title {
    position: absolute;
    top: -30px;
    background: #453f84;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'JennaSue';
}



.clr_hr {
    width: 30px;
    height: 3px;
    background: #453f84;
    margin: 0;
    margin-bottom: 10px !important;
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all .3s;
}

.section_content:hover {
    background: #453f84;
    color: #fff;
    cursor: pointer;
}

.circle_view {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #453f84;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: #453f84;
    align-items: center;
    line-height: 1px;
}

.section_content:hover .circle_view {
    border-color: #fff;
    color: #fff;
}

.section_content:hover .font-purple {
    color: #fff;
}

.form-control {
    border-radius: 2px;
    min-height: 40px;
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(230, 40, 88, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #333;
    color: #333;
}

.black-bg {
    background-color: #453f84;
    color: #f3f3f3;
}

.red-bg {
    background-color: #ec082b;
    color: #ffffff;
}

.footer_logo {
    width: 350px;
    background: #f3f3f3;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.bttn.purple-bttn {
    background-color: #453f84;
    color: #ffffff;
}

.bttn.purple-bttn:hover {
    background-color: #3a2d46;
}

.bttn {
    border: medium none;
    display: inline-block;
    padding: 0.8em 3em;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 2px;
}

.font-white {
    color: #fff;
}

.font-poppins {
    font-family: "Poppins";
}

.font-JennaSue {
    font-family: 'JennaSue';
}

.font-purple {
    color: #453f84
}

.margin_auto {
    margin: 0 auto;
}